<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://use.typekit.net/bzx0ejt.css">
    <title>Home</title>
</head>

<body>
    <!-- NAVAGATION -->
    <nav class="db dt-l w-100 border-box pa3 ph5-l">
        <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="#">
            <img src="static/Assets/4x/Asset 41@4x.png" class="dib img_logo " alt="Site Name">
        </a>
        <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
            <a class="link grow white f6 f5-l dib tracked mr3 mr4-l" href="#design">Design</a>
            <a class="link grow white f6 f5-l dib tracked mr3 mr4-l" href="#develop">Develop</a>
            <a class="link grow white f6 f5-l dib tracked mr3 mr4-l" href="#about">About</a>
            <a href=" #packages" class="button grow link white ttu tracked  tc"> Packages</a>
        </div>
    </nav>

    <!-- HEADER -->
    <header>
        <h1 class=" tracked white ttu circle_img f1-m f-headline-ns tc dib ">Web Development & Design</h1>
    </header>

    <!-- DESIGN SECTION -->
    <article class="cf ph3 ph5-ns pv5" id="design">
        <header class="fn fl-ns w-20-ns pr4-ns">
            <h1 class="mb3 mt0 white ttu tracked lh-title">// Design</h1>
        </header>
        <div class="fn fl-ns w-40-ns">
            <img src="../static/assets/4x/design_light.png" class="w5" alt="">
        </div>
        <div class="fn fl-ns w-40-ns">
            <p class="lh-copy white measure mt4 mt0-ns">
                Modern web design needs to be clean, beautiful, and clear. We take core design concepts, and your brand
                elements to create a stunning site that helps you achieve your main purpose, whether that is converting
                new customers, showing off your portfolio, or even highlighting your thoughts in a lifestyle blog. We
                got you covered.
            </p>
        </div>
    </article>

    <!-- DEVELOP SECTION-->
    <article class="cf ph3 ph5-ns pv5" id="develop">
        <header class="fn fl-ns w-25-ns pr4-ns">
            <h1 class="mb3 mt0 white ttu tracked lh-title">// Develop</h1>
        </header>
        <div class="fn fl-ns w-34-ns">
            <img src="../static/assets/4x/dev_grad.png" class="w5" alt="">
        </div>
        <div class="fn fl-ns w-40-ns">
            <p class="lh-copy white measure mt4 mt0-ns">
                What makes a good web app? It’s not a web app that just delivers on its expectations. A good web app is
                built for the present and future. It adapts to changing technology and user behavior. It grows with a
                business while being maintainable. We at KingsolverSmith are here to help you do just that, 100%.
            </p>
        </div>
    </article>
    <!-- RANDOM ASSET IMAGE -->
    <!-- <h1 class="white random tc"> <img
            src="https://preview.redd.it/ih6no69aj90y.png?auto=webp&s=8e4f9101f58e0812f3625a51ec65c9b7c050da75"
            style="width: 10%; border-radius: 100%; " alt=""> / </h1> -->
    <!-- ABOUT SHANE AND HANNAH -->
    <article class="cf mt6" id="about">
        <div class="fl w-100 w-50-ns hannah tc">
            <img src="../static/assets/4x/hannah.png" class="pl3 avi_img fl" alt="">
            <p class="f5 pl3 lh-copy tl white measure-narrow">
                Hello World! I am a Dallas-based full-stack web developer and photographer. With my knowledge and
                expertise, my goal is to create fully responsive websites that capture your brand’s essence. I bring the
                FUN in functioning! Let’s make your website a bold statement of who you are.
            </p>
        </div>
        <div class="fl w-100 w-50-ns shane tc">
            <img src="../static/assets/4x/shane.png" class="pr3 avi_img fr" alt="">
            <p class="f5 pr3 lh-copy tr fr white measure-narrow">
                Hi! I am a Dallas-based designer working at an architecture firm by day, and designing engaging brands
                and websites by night (and weekends). I use my expertise of composition, color, hierarchy and all that
                other stuff to create memorable, bold statements for our clients. I would love to get to know you, and
                introduce you to Sunday (my kitty) and we can get started!
            </p>
        </div>
    </article>
    <!-- PACKAGES -->
    <footer class="pt5 mt3" id="packages">
        <h2 class="ttu fl db tracked white pl3">// Packages</h2>


        <div class="cards db mt4 tc pr3">
            <!-- Trigger/Open The Modal ON IMG -->
            <article class="mw5 bg-white br4 ml3 dib pa3 pa4-ns mv3  ">
                <div class="tc">
                    <img src="../static/assets/4x/basic.png" class=" triangle_logo dib boom"
                        title="Photo of a kitty staring at you">
                    <h1 class=" tracked f3 ttu">Basic</h1>
                </div>
                <p class=" lh-copy measure center tl pb4 f6 black-70">
                    - Consultation <br>
                    - Front-end Web Development <br>
                    - Branded Assets <br>
                    - Imagery Curation <br>
                    - Simple Wireframe <br> <br>
                </p>
                <input type="button" value="LEARN MORE" class="button_learn grow link white ttu tracked ttu tc myBtn">

                <!-- The Modal -->
                <div class="modal">

                    <!-- Modal content -->
                    <div class="modal-content pulse">
                        <div class="modal-header">
                            <span class="close">×</span>
                            <h2 class="f3 white ttu pb2">Basic</h2>
                        </div>
                        <div class="modal-body">
                            <p class="white-80 tl">
                                - Design: $30hr <br>
                                - Develop: $45hr <br>
                                - 2 week turnaround
                            </p>
                        </div>
                    </div>
                </div>

            </article>
            <!-- Trigger/Open The Modal ON IMG -->
            <article class="mw5 bg-white br4 ml3 dib pa3 pa4-ns mv3  ">
                <div class="tc">
                    <img src="../static/assets/4x/enhanced.png" class=" polygon_logo dib boom"
                        title="Photo of a kitty staring at you">
                    <h1 class=" tracked f3 ttu">Enhanced</h1>
                </div>
                <p class=" lh-copy measure tl center pb4 f6 black-70">
                    - Consultation <br>
                    - Front-end Web Development <br>
                    - Custom Branded Assets <br>
                    - Imagery Curation <br>
                    - Complex Wireframe <br> <br>
                </p>
                <input type="button" value="LEARN MORE" class="button_learn grow link white ttu tracked ttu tc myBtn">

                <!-- The Modal -->
                <div class="modal">
                    <!-- Modal content -->
                    <div class="modal-content pulse">
                        <div class="modal-header">
                            <span class="close">×</span>
                            <h2 class="f3 white ttu pb2">Enhanced</h2>
                        </div>
                        <div class="modal-body">
                            <p class="white-80 tl"> 
                                - Design: $30hr <br>
                                - Develop: $45hr <br>
                                - 3 week turnaround
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Trigger/Open The Modal ON IMG -->
            <article class="mw5 bg-white ml3 br4 dib pa3 pa4-ns mv3  ">
                <div class="tc">
                    <img src="../static/assets/4x/tailored.png" class=" w3  dib boom"
                        title="Photo of a kitty staring at you">
                    <h1 class=" tracked f3 ttu">Tailored</h1>
                </div>
                <p class=" lh-copy measure tl center f6 pb4 black-70">
                    - Consultation <br>
                    - Front & Back-end Web Development <br>
                    - Custom Branded Assets <br>
                    - Imagery Curation <br>
                    - Complex Wireframe <br>
                    - High level of Design
                </p>
                <input type="button" value="LEARN MORE" class="button_learn grow link white ttu tracked ttu tc myBtn">

                <!-- The Modal -->
                <div class="modal">

                    <!-- Modal content -->
                    <div class="modal-content pulse">
                        <div class="modal-header">
                            <span class="close">×</span>
                            <h2 class="f3 white ttu pb2">Tailored</h2>
                        </div>
                        <div class="modal-body">
                            <p class="white-80 tl">
                                    - Design: $30hr <br>
                                    - Develop: $45hr <br>
                                    - 4 week turnaround
                            </p>
                        </div>
                    </div>
                </div>

            </article>
            <!-- Trigger/Open The Modal ON IMG -->
            <article class="mw5 ml3 bg-white dib br4 pa3 pa4-ns mv3  ">
                <div class="tc ">
                    <img src="../static/assets/4x/store.png" class=" tag_logo dib boom"
                        title="Photo of a kitty staring at you">
                    <h1 class=" tracked f3 ttu">Store</h1>
                </div>
                <p class=" lh-copy measure center tl pb4 f6 black-70">
                    - Consultation <br>
                    - Front & Back-end Web Development <br>
                    - Custom Branded Assets <br>
                    - Imagery Curation <br>
                    - Complex Wireframe <br>
                    - High level of Design
                </p>
                <input type="button" value="LEARN MORE" class="button_learn grow link white ttu tracked ttu tc myBtn">


                <!-- The Modal -->
                <div class="modal">

                    <!-- Modal content -->
                    <div class="modal-content pulse">
                        <div class="modal-header">
                            <span class="close">×</span>
                            <h2 class="f3 white ttu pb2">Store</h2>
                        </div>
                        <div class="modal-body">
                            <p class="white-80 tl">
                                    - Design: $30hr <br>
                                    - Develop: $45hr <br>
                                    - 16 week turnaround
                            </p>
                        </div>
                    </div>
                </div>
            </article>

        </div>

        <div class="contact_us tc pb4">
            <h1 class="tc ttu white" id="changingtext" onmouseover="changeText(0)">Get in Touch!</h1>
            <div>
                <ul class="ul_footer">
                    <li class="li_footer"><a href="https://www.instagram.com/kingsolversmith/"
                            class="a_footer white"><img src="../static/assets/4x/insta.png" class="w2" alt=""></a></li>
                    <li class="li_footer"><a href="https://www.instagram.com/kingsolversmith/"
                            class="a_footer white"><img src="../static/assets/4x/email.png" class="w2" alt=""></a></li>
                    <li class="li_footer"><a href="https://www.instagram.com/kingsolversmith/"
                            class="a_footer white"><img src="../static/assets/4x/dribbble.png" class="w2" alt=""></a>
                    </li>
                    <li class="li_footer"><a href="https://www.instagram.com/kingsolversmith/"
                            class="a_footer white"><img src="../static/assets/4x/linkedin.png" class="w2" alt=""></a>
                    </li>
                    <li>
                        <p>👋</p>
                    </li>
                </ul>
            </div>
        </div>
        <script src="{% static 'js/index.js' %}"></script>
    </footer>
</body>

</html>