* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #333333 0% 0% no-repeat padding-box;
  opacity: 1;
  font-family: "sofia-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-image: url("../assets/SVG/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img_logo {
  max-width: 90px;
  /* height: 112px;
  margin-top: 20px; */
}

.up {
    margin-top: -50px;
}

.curve {
    border-radius: 10px;
    width: 80%;
}

header {
    background-repeat: no-repeat;
}
.background_circle {
    width: 20%;
    margin-top: -90px;
}

.button {
    display: inline-block;
    width: 100px;
    height: 25px;
    border-radius: 15px;
    background-color: #9E97A3;
    border-style: none;
}

.avi_img {
    width: 70%;
}

footer {
    backdrop-filter: blur(15px);
}

.n{
    width: 30rem;
    height: 20rem;
    border-radius: 40px;
}




.ul_footer {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    list-style: none;
  }


  
  @media (min-width: 500px) {
    .ul_footer {
      grid-auto-flow: column;
    }
  }
  
  .li_footer {
    text-decoration: none;
}
  .a_footer {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
  }
  
  .a_footer:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
  }
  
  .li_footer:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .li_footer:hover ~ li p {
    animation: wave-animation 0.3s infinite;
  }

  @keyframes wave-animation {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-15deg);
    }
  }
  